* {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
    font-family: 'Lemon', serif;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.navbar-links {
    display: flex;
    column-gap: 20px;
}

.navbar-link a {
    text-decoration: none;
    color: #1D232C;
}

.navbar-link a:hover {
    text-decoration: underline;
    color: #1D232C;
}

/*side nav*/
.side-navbar {
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 10px;
    color: white;
    transition: 2s;
}

.side-navbar-link {
    margin-bottom: 30px;
}

.side-navbar-links a {
    text-decoration: none;
    color: white;
}

.side-navbar-links a:hover {
    text-decoration: underline;
}



/*header*/

.header {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #1D232C;
    color: white;
    cursor: pointer;
}


/*services*/

.service {
    padding: 20px;
}

.service-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px
}

.service-container-2 div {
    background-color: #F4F4F7;
    border-radius: 5px;
    padding: 10px;

}

.new-model {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1px 10px;
    padding: 10px;

}

.model-container {
    position: relative;
    flex-basis: 20%;
}

.new-model button {
    padding: 5% 10%;
    margin-top: 10px;
    color: #1D232C;
    position: absolute;
    top: 50%;
    left: 11%;
    border-radius: 10px;
    border: none;
}
.model-container img{
    border-radius: 9px;
}
/*news letter*/


.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.news input {
    padding: 10px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 2px;
}

.news button {
    margin-top: 10px;
    background-color: #1D232C;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.footer {
    margin-top: 20px;
    padding: 5%;
    background-color: #1D232C;
    color: white;
}

.foot-icon-container i {
    padding: 10px;
    margin: 2px;
}

/*product*/
.products img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.product-section {
    margin-top: 10px;
}

.product-search {
    width: 80%;
    border-radius: 10px;
    border: solid black 2px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    align-items: center;
}

.product-search input {
    border: none;
    background-color: white;
    width: 100%;
}

.product-search input:focus {
    outline: none;
}

.products {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-box {
    text-align: center;
    flex-basis: 20%;

}

/*contact*/

.content {
    background-color: #1D232C;
    color: white;
    
    margin: 1% 3% 0 3%;
    padding: 30px;
    display: flex;
    height: 450px;
    border-radius: 10px;




}

.content-boxs {
    position: absolute;
    top: 20%;
    left: 5%;
}

.content-box input {
    width: 80vw;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.content-box-big input {
    width: 80vw;
    text-size-adjust: 10px;
    padding: 10px 10px 80px 10px;
    border-radius: 10px;
    margin: 10px 0;
    border: none;
}

.content-boxs button {
    padding: 5px 10px;
    margin-top: 10px;
    color: #1D232C;
    border-radius: 10px;
    border: none;
}


/*menu*/
.navbar-menu {
    display: none;
}

@media screen and (max-width:800px) {
    .new-model button {

        position: absolute;
        top: 50%;
        left: 16%;
    }
    
}

@media screen and (max-width:600px) {
    
    .navbar-menu {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    .header-img {
        display: none;
    }

    .service-container-1 {
        display: none;
    }

    .service-container-2 {
        flex-direction: column;
    }
    .new-model{
        justify-content: center;
    }

    .new-model button {

        position: absolute;
        top: 50%;
    }
}

.coder {
    position: absolute;
    right: 10%;
    margin: -40px;
}